body {
       background-color: lightblue);
   }
   h1 {
       background-color:lightseagreen;
       color: yellow;
       text-align: center;
       border:3px solid Violet;
   }
  
   h2 {
      color: orange;
      background-color:beige;
      text-align: center;
      border:10px solid Violet;
   }

   p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        color: turquoise;
   }